name: image

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  packages: write
  security-events: write

jobs:
  ko:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - name: Set up Go
        uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753 # v4.0.1
        with:
          cache-dependency-path: backend/go.sum
      - name: Login
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a # v2.1.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Install Cosign
        uses: sigstore/cosign-installer@dd6b2e2b610a11fd73dd187a43d57cc1394e35f9 # v3.0.5
      - name: Build assets
        run: |
          set -e
          make build-backend-assets
      - name: Publish image
        id: ko-publish
        run: |
          set -e
          echo "digest=$(VERSION=${{ github.ref_name }} make ko-publish)" >> $GITHUB_OUTPUT
      - name: Sign image
        run: |
          set -e
          cosign sign ${{ steps.ko-publish.outputs.digest }} --yes
