name: release

on:
  push:
    tags:
      - 'kyverno-playground-chart-v*'

jobs:
  helm-chart:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Install Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: v3.10.3
      - name: Set version
        run: |
          set -e
          TAG=${{ github.ref_name }}
          echo "CHART_VERSION=${TAG#kyverno-playground-chart-}" >> $GITHUB_ENV
      - name: Run chart-releaser
        uses: stefanprodan/helm-gh-pages@0ad2bb377311d61ac04ad9eb6f252fb68e207260 #v1.7.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          linting: off
          charts_dir: charts
          chart_version: ${{ env.CHART_VERSION }}
